# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Databases
*.db
*.db-journal
auth-server/auth.db
backend/backend.db

# Frontend build
dist/
build/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
